.section{
    height: 100%;
    width: 100%; 
}


.audioCardContainer {
    cursor: pointer; 
    margin-top: 10%; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, var(--green) 1px, transparent 1px),
        linear-gradient(90deg, var(--green) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: white;
}

.treesContainer {
    cursor: pointer; 
    margin-top: 10%; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: var(--green);
}
.LinkIcon {
    font-size: 2rem;
}

.LinkIcon:hover {
    color: black; 
}

.gitLogo:hover{
    transform: scale(1.1); 
}

.vizContainer{
    width: 50vw; 
    height: 50vh; 
}

.projectContainer {
    height: 73%; 
    width: 87%; 
    position: absolute; 
    margin: none; 
    padding: none; 
}

.vidContainer{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 100%;
    margin-top: 2vh; 
    margin-left: 2vw; 
}