.section{
    height: 100%;
    width: 100%; 
}


.audioCardContainer {
    cursor: pointer; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, var(--green) 1px, transparent 1px),
        linear-gradient(90deg, var(--green) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: white;
}

.imessageContainer{
    cursor: pointer; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, #E5E5EA 1px, transparent 1px),
        linear-gradient(90deg, #E5E5EA 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: #03A2E9;
}
.treesContainer {
    cursor: pointer; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: var(--green);
}

.dotsContainer{
    cursor: pointer; 
    border: 2px solid black; 
    height: 100%; 
    width: 100%; 
    background-image: 
        linear-gradient(0deg, var(--orange) 1px, transparent 1px),
        linear-gradient(90deg, var(--orange) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    background-color: white;
}
.LinkIcon {
    font-size: 2rem;
}

.LinkIcon:hover {
    color: black; 
}

.gitLogo:hover{
    transform: scale(1.1); 
}

.vizContainer{
    width: 50vw; 
    height: 50vh; 
}

.projectContainer{
    height: 73%; 
    width: 87%; 
    position: absolute;
    margin: 0; 
    padding: none;
    pointer-events: auto;
    margin: 0; 
}


.vidContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw; 
    height: 50vh; 
}