@import '../../vars.css';
.grid-container {
    border-top: 2px solid black; 
    height: 100%; 
    background-image: 
        linear-gradient(0deg, var(--blue) 1px, transparent 1px),
        linear-gradient(90deg, var(--blue) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    display: flex;
    align-items: center;
}

.moveInFromLeft {
    animation: moveInFromLeft 0.5s ease forwards;
}

@keyframes moveInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.moveInFromBottom {
    animation: moveInFromBottom 0.5s ease forwards;
}

@keyframes moveInFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}


#intro{
    font-size: 5vw; 
    line-height: 5rem;
    font-family: var(--main-text);
}


.section {
    height: 100vh; 
}

.scrollTranslate {
    transition: transform 0.3s ease-out;
}