.grid-container {
    height: 100%; 
    background-image: 
        linear-gradient(0deg, #CCCCCC 1px, transparent 1px),
        linear-gradient(90deg, #cccccc 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moveInFromLeft {
    animation: moveInFromLeft 0.5s ease forwards;
}

@keyframes moveInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#intro{
    font-size: 100px; 
    line-height: 1.5;
}

.section {
    height: 100vh; 
}