@import '../../vars.css'; 

.section {
    height: 100vh; 
}

.contactFormContainer{
    margin-top: 20vh;
    background-color: var(--orange);
    border-radius: 10%; 
    width: 60vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Add a border with transparency */
    border-style: inset; 
}

.Title{
    display: flex; 
    justify-content: center;
    margin-top: 2vh;
    font-family: var(--main-text);
    margin-bottom: 5vh;
}

.btnCustom{
    background-color: var(--mintgreen);
    color: white;
    margin-top: 2vh;
    font-family: var(--main-text);
    margin-bottom: 2vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Add a border with transparency */
    border-style: inset; 
}

.btnCustom:hover{
    background-color: var(--mintgreen-hover);
    scale: 1.1;
}

.formGroup{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
}

.messageArea{
    height: 15vh;
}

.label{
    font-family: var(--tiny-text);
    font-size: 1rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .label {
        font-size: 0.8rem;
        width: 1vw;
    }
}
.formField{
    width: 90%; 
    max-width: 450px;
}