@import '../../vars.css'; 

#Title {
    color: black;
    opacity: 0.8;
    font-family: var(--main-text);
    cursor: pointer;
}
.navbar {
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 1000;
    padding: 2%;
    background-color:#f1e2ce; 
    border-bottom: 2px solid black; 
}



.color-scale {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-bottom: -2.2%;   
    min-width: 200px;
}

.color-bar {
    display: flex;
    width: 15%;
    min-width: 55px;
    height: 5vh; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 2px solid black; 
    border-left: 2px solid black; 
    border-top: 2px solid black; 
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;

}


.color-bar span {
    font-size: 20; /* Adjust the font size as needed */
    font-family: var(--tiny-text); 
    font-weight: 'bold';
    color: #000000; /* Text color */
}