@import '../../vars.css'; 

#Title {
    color: black;
    opacity: 0.8;
    font-family: var(--main-text);
}
.navbar {
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10vh; 
    height: 10vh; 
    z-index: 1000;
    padding: 2vh;
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-top: -0.5vh;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-left: 0.8vw solid transparent; /* Using viewport width (vw) */
    border-right: 0.8vw solid transparent; /* Using viewport width (vw) */
    border-bottom: 1.6vw solid #20bb6b; /* Using viewport width (vw) */
    cursor: pointer;
}


.color-scale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.color-bar {
    display: flex;
    width: 15%;
    height: 5vh; /* Using viewport height (vh) */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black

}


.color-bar span {
    font-size: 1vw; /* Adjust the font size as needed */
    font-family: var(--tiny-text); 
    font-weight: 'bold';
    color: #000000; /* Text color */
}