.body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 400vh; 
}

.sectionContainer {
    scroll-snap-type: y mandatory;
    height: 400vh;
    margin-top: 5%; 
}

.section {
    scroll-snap-align: start;
}
