.grid-container {
    height: 100%; 
    margin-top: -5%; 
    background-image: 
        linear-gradient(0deg, #CCCCCC 1px, transparent 1px),
        linear-gradient(90deg, #cccccc 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px;
    display: flex;
    align-items: center;
}